old/
bin/
dat/
/test/dat/
/test/node_modules/
/test/tmp/
__pycache__/
.mypy_cache/
/tmp/
/tmp.py
/zmknote/tmp.py
/__pycache__/
/zmknote/action_tags_test_get_all_SAVE_3_1.js
/zmknote/zotero_note_to_markdown_test.py
/zmknote/test/zotero_watcher.log
/zmknote/zotero_item_receiver.log
build/
dist/
*.pkg
*.exe
**/.mypy_cache/
**/__pycache__/
zmknote/dist/zotero_item_receiver.log
/test/split_footnotes_body_test.py
utils/collect_pip_installs_SAVE.py
dry-run.txt
environment.yml
src/refwrangle.egg-info/
src/refwrangle/zmknote/tmp.ipynb
src/refwrangle/zmknote/zotero_item_receiver.log
src/refwrangle/zmknote/zotero_to_obsidian_note_receiver.spec
